* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: block;
    text-align: center;
    h1 {
        font-size: 40px;
    }
    input {
        font-size: 24px;
    }
    .inp {
        padding: 5px 10px;
        border: none;
        border-bottom: 2px solid gainsboro;
    }
    .inp:focus {
        outline: none;
    }
    .inp1 {
        padding: 5px 30px;
        background: black;
        color: white;
    }
    i {
        position: absolute;
        z-index: 99;
        font-size: 24px;
        bottom: 45%;
        left: 56%;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        transition: .2s;
    }
    i:hover {
        background: rgba(0, 0, 0, 0.276);
    }
}